<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>wanderlust</title>
   
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
     <link rel="stylesheet" href="/css/home.css">
    
</head>
<body>
    <header class="navbar">
        <div class="container">
            <div class="logo">
                 <a class="navbar-brand" href="/"><i class="fa-solid fa-igloo"></i></a>
                <span>Wanderlust</span>
            </div>
            <nav class="nav-links">
                <a href="/">Home</a>
                <a href="/signup">Sign Up</a>
                <a href="/login">login</a>
            </nav>
             
        </div>
    </header>

    <main class="hero-section">
        <div class="hero-content">
            <h1>Say yes <br> TO YOUR VACATION</h1>
            <p> This is a universal human emotion—a deep, intrinsic desire to travel and explore. It's the feeling that drives people to look for destinations </p>
        </div>
    </main>

   

    <script src="/js/home.js"></script>
</body>
</html>